@model IEnumerable<OrgaTournoi.Models.Jeu>


@{
    ViewData["Title"] = "Home Page";
    ViewData["lien"] = "/css/liste.css";
}
<link rel="stylesheet" href=""/>

<div class="container text-center">

    <div class="row align-items-start">

       @*   Template pour les cases
       
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Jeu 1
                    </div>
                    <div class="card-body text-center">
                         <ul class="no-deco">
                             <li>Tournoi 1</li>
                             <li>Tournoi 1</li>
                             <li>Tournoi 1</li>
                             <li>Tournoi 1</li>
                             <li>Tournoi 1</li>
                         </ul>  
                    </div>
                </div>
            </div>
        *@

        
        @foreach (var jeu in Model) {
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        @Html.DisplayFor(modelItem => jeu.Nom)
                    </div>
                    <div class="card-body text-center">
                        <ul class="no-deco">
                            @foreach (var evenement in jeu.Evenements){
                                // Affichage du lien pour chaque evenement d'un tournoi'
                                @Html.ActionLink(@evenement.Nom,"Details","Evenements", new {id=@evenement.Id})
                            }

                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>


</div>
